
@font-face {
    font-family: 'fonte';src: url('../images/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
    }
@font-face {font-family: 'fonte';src: url('../images/ProximaNova-Regular.otf');
        font-weight: normal;
        font-style: normal;
    }


button,h1,h2,h3,p,a{
    font-family: 'Montserrat', sans-serif !important;

}
html, body{

overflow-x: hidden;
max-width: 100vw;
}
h1 {
    font-weight: bold;
    font-size: 32px;
}
h2{
    font-weight: 500;
    font-size: 32px;
}
h3{
    font-weight: normal;
    font-size: 24px;
}
button{
    background: #FFFFFF;
/* Blue/Primary */

border: 1px solid $blue;
box-sizing: border-box;
border-radius: 8px;
font-weight: 500;
font-size: 16px;
width: 232px;
height: 40px;
color: $blue;
&:hover{
    background: #03045C;
    color: $white;
}
}
a{
    text-decoration:none !important; 
}
.flickity-viewport{
    width: 100%;
    .flickity-slider{
        width: 100%;
    }
}
ul{
    &:focus{
        outline: none !important;
    }
}
div{
    &:focus{

            outline: none !important;

    }
}