

$white: #fff;


$red: #FF0000;
$light-gray: #C4C4C4;
$black: #000000;
$blue: #03045C;
$gray: #333333;
$white: #FFFFFF;


$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Source Sans Pro', sans-serif;
$font-title: 'Montserrat', sans-serif;


$transition: .35s ease-in-out;








